.about{
    height: calc(90vh - 60px);
    position: absolute;
    top:60px;
    width:100vw;
    background-color:#0a192f;
    padding:18vh 12vw;
}

.sub-about{
    z-index: 1;
    animation: 1.5s ease 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
    
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.sub-about > h1{
    color:#fff;
    font-size: 90px;   
}

.sub-about > .intro{
    font-size: 30px;
    color: rgb(165,165,165);
}

.sub-about > .details{
    margin-top: 10px;
    font-size: 20px;
    color: rgb(165, 165, 165);
    padding-right: 100px;
}

.sub-about > .more-detail{
    margin-top: 10px;
    font-size: 20px;
    color: rgb(165,165,165);
    padding-right: 100px;
}

.text-animation{
    overflow: hidden;
    height: 65px;
}

.text-animation > p{
    display: inline;
    float: left;
    font-size: 50px;
    color:#fff;
    margin: 0;
}

.text-animation > ul{
      padding-left:80px;
      margin-top: 0;
      text-align: left;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;
}

.text-animation > ul > li{
    font-size: 50px;
    color:#64ffda;
    margin: 0;
    
}


@-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-webkit-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @-o-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-o-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @-moz-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-moz-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }




@media only screen and (max-width:500px){
    
    .about{
        padding:15vh 10vw;
    }
    .sub-about > h1{
        font-size: 45px;
    }
    .sub-about > .details{
        padding-right: 0px;
        font-size: 18px;
    }
    .sub-about > .more-detail{
        padding-right: 0px;
        font-size: 18px;
    }
    .text-animation > p{
        font-size: 30px;
    }
    .text-animation > ul > li{
        font-size: 30px;
    }
    .text-animation{
        height: 40px;
    }
    .text-animation > ul{
        padding-left: 50px;
    }
    .sub-about > .intro{
        font-size: 20px;
    }   
}

@media only screen and (max-width:700px) and (min-width:500px){    
    .about{
        padding:20vh 8vw;
    }
    .sub-about > h1{
        font-size: 60px;
    }
    .sub-about > .details{
        padding-right: 0px;
        font-size: 22px;
    }
    .sub-about > .more-detail{
        padding-right: 0px;
        font-size: 22px;
    }
    .text-animation > p{
        font-size: 40px;
    }
    .text-animation > ul > li{
        font-size: 40px;
    }
    .text-animation{
        height: 55px;
    }
    .text-animation > ul{
        padding-left: 70px;
    }
    .sub-about > .intro{
        font-size: 22px;
    }
}

@media only screen and (max-width:850px) and (min-width:700px){
    .about{
        padding:15vh 10vw;
    }
    .sub-about > h1{
        font-size: 80px;
    }
    .sub-about > .details{
        padding-right: 0px;
        font-size: 30px;
    }
    .sub-about > .more-detail{
        font-size: 30px;
        padding-right: 0px;
    }

    .text-animation > p{
        font-size: 45px;
    }
    .text-animation > ul > li{
        font-size: 45px;
    }
    .text-animation{
        height: 60px;
    }
    .text-animation > ul{
        padding-left: 70px;
    }
    .sub-about > .intro{
        font-size: 25px;
    }
}